.btn_login{
    background-color: #00AD45;
    color: #fff;
    box-shadow: none;
    border: none;
    padding: 0.5em 2em;
    border-radius: 5px;
    &:hover{
        background-color: #038CC7;
    }
}
.btn_create{
    background-color: #FF9900;
    color: #fff;
    box-shadow: none;
    border: none;
    padding: 0.5em 2em;
    border-radius: 5px;
    &:hover{

    }
}
.btn_share{
    background-color: #038CC7;
    color: #fff;
    box-shadow: none;
    border: none;
    padding: 0.5em 2em;
    border-radius: 5px;
    &:hover{

    }
}
